/* Footer */
.footer {
  padding: 4rem 2rem 3rem;
  background-color: var(--section-bg);
}
.footer .content-description,
.footer .map-icon,
.footer .location-text {
  color: var(--text-color-light);
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  align-items: center;
}
.footer-content {
  display: grid;
  row-gap: 3rem;
}
.footer .logo-text,
.footer .logo-icon {
  color: var(--text-color-light);
  font-size: 2rem;
  font-weight: var(--font-medium);
}
.footer .logo-icon {
  font-size: 3rem;
}
.footer .content-description,
.footer .location-text {
  text-align: left;
  font-size: var(--small-font);
}
.footer .map-icon {
  font-size: 3rem;
  margin-right: 1rem;
}
.footer-linkContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
}
.footer-links {
  display: grid;
  row-gap: 1rem;
  font-weight: var(--font-medium);
  color: var(--white-color);
}
.footer-link {
  font-size: var(--small-font);
  color: rgba(255, 255, 255, 0.5);
  transition: var(--tran-0-3);
}
.footer-link:hover {
  color: rgba(255, 255, 255, 0.8);
}
.footer-copyRight {
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  font-size: var(--small-font);
  border-top: 2px solid var(--text-color-light);
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 6rem;
  }
}
