.menu {
  background-color: var(--section-bg);
}
.section-title,
.section-description {
  color: var(--white-color);
}
.menu .menu-content {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  column-gap: 6rem;
  margin-top: 6rem;
}
.menu-img {
  height: 80px;
  width: 80px;
  margin-right: 1.5rem;
}
.menu-items {
  display: grid;
  row-gap: 1.5rem;
}

.menu-item {
  position: relative;
  padding: 2rem 2.5rem;
  background-color: var(--white-color);
}
.menuItem-details {
  margin-right: 1.5rem;
}
.menuItem-topic {
  font-weight: var(--font-semi-bold);
}
.menuItem-des {
  font-size: var(--small-font);
}
.menuItem-price {
  flex-direction: column;
  padding-left: 2rem;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}
.discount-price {
  font-size: 1.8rem;
}
.real-price {
  text-decoration: line-through;
}
.time-topic {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: var(--font-regular);
  padding: 1.5rem 0;
  color: var(--white-color);
  background-color: var(--primary-color);
}
.time-list {
  padding: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  background-color: var(--white-color);
}
.time-list:nth-child(7) {
  border-bottom: none;
}
