form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  .select {
  height: 100rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 15px 0;
  }
  
  
  button:hover {
    background-color: #0056b3;
  }
  
  input:valid,
  select:valid {
    border-color: #4caf50;
  }
  
  input:invalid,
  select:invalid {
    border-color: #f44336;
  }
  select option {
    padding: 8px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    text-align: center; 
    font-size: 16px; 
  }
  
  select option:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Style the selected option */
  select option:checked {
    background-color: #4caf50;
    color: #fff;
  }
  
  /* Style the disabled option */
  select option:disabled {
    background-color: #ccc;
    color: #888;
  }